/node_modules/
/client/bower_components/
/server/*.js
/server/*.js.map
/client/**/*.js
/client/**/*.js.map
/server/config/*.js
/typings/
/client/**/*.css

# /client/styles/css
# /client/**/*.js
# /server/api/**/*.js
# /server/auth/**/*.js
# /server/config/*.js
# /server/*.js
# !*.spec.js
# /.idea/
# /dist/
# /.sass-cache/
# /typings/

# /.cache
