body {
  font-family: sans-serif;
}

$font-path: "/assets/fonts";
$fa-font-path: "/assets/fonts";

@import '../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import '../styles/_mixins.scss';
@import '../styles/_variables.scss';
@import '../styles/_bs_elements.scss';

@import '../app/home/home.scss';
@import '../app/bootstrap/bootstrap.scss';
