{
    "swagger": "2.0",
    "info": {
        "description": "This is API Documentation for Network Status API's ",
        "version": "1.0.0",
        "title": "Swagger Network Status API",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {
            "email": "apiteam@swagger.io"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        }
    },
    "host": "status.vdmstest.com",
    "basePath": "/api/v1",
    "tags": [
        {
            "name": "status",
            "description": "status for each pop"
        }
    ],
    "schemes": [
        "http"
    ],
    "paths": {
        "/status": {
            "get": {
                "tags": [
                    "status"
                ],
                "summary": "Get Status",
                "description": "Get Network Status For POPS",
				"operationId":"getStatus",
                "produces": [
                    "application/json"
                ],
                "parameters": [

                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    },
					"401":{
						"description": "unauthorized"
					}
                }
            }
        }
    },
    "securityDefinitions": {
        "api_key": {
            "type": "apiKey",
            "name": "api_key",
            "in": "header"
        }
    },
    "definitions": {
        "User": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int64"
                },
                "username": {
                    "type": "string"
                },
                "firstName": {
                    "type": "string"
                },
                "lastName": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                },
                "phone": {
                    "type": "string"
                },
                "userStatus": {
                    "type": "integer",
                    "format": "int32",
                    "description": "User Status"
                }
            },
            "xml": {
                "name": "User"
            }
        },
        "ApiResponse": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "type": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                }
            }
        }
    },
    "externalDocs": {
        "description": "Find out more about Swagger",
        "url": "http://swagger.io"
    }
}