<div class="container-fluid" data-ng-controller="MyAppsCtrl as vm">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a><i>Applications</i><span class="sr-only">(current)</span></a></li>
		<li ng-repeat ="app in vm.apps" ng-click="vm.viewApp(app)"><a ng-class="{ selected: app.isSelected}">{{app.name}}</a></li>
        <!--<li><a class="selected">Test</a></li>-->
      </ul>
    </div>
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-show="vm.createNewApp">		
		<div class="panel panel-default">
			<div class="panel-heading">
				<strong class="panel-title">New Application</strong>
			</div>
			<div class="panel-body">
				<form class="form-horizontal" name="vm.form" novalidate>
	              <div class="form-group">
	                <label for="name" class="col-sm-2 control-label">Name</label>
	                <div class="col-sm-5">
	                  <input type="text" class="form-control" name="name" ng-model="vm.newApp.name" required>
	                </div>
	              </div>
	              <div class="form-group">
	                <label for="tier" class="col-sm-2 control-label">Throttling Tier</label>
	                <div class="col-sm-5 col-md-2">
						<select class="form-control" data-ng-model="vm.newApp.throttling"
                			data-ng-options="tier for tier in vm.tiers">                
        				</select>
	                </div>
	              </div>
	              <div class="form-group">
	                <label for="desc" class="col-sm-2 control-label">Description</label>
	                <div class="col-sm-5">
	                  <input type="text" class="form-control" name="description" ng-model="vm.newApp.description">
	                </div>
	              </div>
	              <div class="form-group">
					<div class="col-sm-offset-2 col-xs-6 col-sm-2">
	                  <button  data-ng-disabled="vm.form.$invalid"  class="btn btn-danger" ng-click="vm.createApp()">Create</button>
	                </div>
	              </div>
	            </form>
			</div>
		</div>
	</div>
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-show="!vm.createNewApp">
		<div class="form-group" >
      		<button class="btn btn-primary" ng-click="vm.NewApp()">Create New Application</button>
    	</div>	
		<div class="container">
			<div class="row">
				<div class="panel panel-default">
					<div class="panel-heading">
						<strong class="panel-title">Application Properties</strong>
					</div>
					<div class="panel-body">
						<form class="form-horizontal">
			              <div class="form-group">
			                <label for="name" class="col-sm-2 control-label">Name</label>
			                <div class="col-sm-5">
			                  <input type="text" class="form-control" ng-model="vm.newApp.name">
			                </div>
			              </div>
			              <div class="form-group">
			                <label for="tier" class="col-sm-2 control-label">Throttling Tier</label>
			                <div class="col-sm-5 col-md-2">
								<select class="form-control" data-ng-model="vm.newApp.throttling"
                					data-ng-options="tier for tier in vm.tiers">                
        						</select>			
			                </div>
			              </div>
						  <div class="form-group">
			                <label for="desc" class="col-sm-2 control-label">Status</label>
			                <div class="col-sm-5">
			                  <label class="col-sm-2 control-label">{{vm.newApp.status}}</label>
			                </div>
			              </div>
			              <div class="form-group">
			                <label for="desc" class="col-sm-2 control-label">Description</label>
			                <div class="col-sm-5">
			                  <input type="text" class="form-control" ng-model="vm.newApp.description">
			                </div>
			              </div>
			              <div class="form-group">
			                <div class="col-sm-offset-2 col-xs-6 col-sm-2">
			                  <button class="btn btn-danger" ng-click= "vm.updateApp()">Update</button>
			                </div>
			                <div class="col-xs-6 col-sm-2">
			                  <button class="btn btn-default" ng-click= "vm.deleteApp()">Delete</button>
			                </div>
			              </div>
			            </form>
					</div>
				</div>
				<div class="panel panel-default">
		          <div class="panel-heading">
		            <strong class="panel-title">Access Keys</strong>
		          </div>
		          <div class="panel-body">
		            <div class="container-fluid">
		              <form class="form-horizontal">
		                <div class="form-group">
		                  <label for="key" class="col-xs-12 col-sm-5 col-md-3 control-label">Application Key</label>
		                  <div id="key" class="col-xs-12 col-sm-7 col-md-6">
		                    <p class="form-control-static token-key">{{vm.newApp.applicationKey}}</p>
		                  </div>
		                </div>
		                <div class="form-group">
		                  <label for="secret" class="col-xs-12 col-sm-5 col-md-3 control-label">Application Secret</label>
		                  <div class="col-xs-12 col-sm-7 col-md-6">
		                    <p class="form-control-static token-key">{{vm.newApp.applicationSecret}}</p>
		                  </div>
		                </div>
		                <div class="form-group">
		                  <label for="token" class="col-xs-12 col-sm-5 col-md-3 control-label">Access Token</label>
		                  <div id="token" class="col-xs-12 col-sm-7 col-md-6">
		                    <p class="form-control-static token-key">{{vm.newApp.applicationToken}}</p>
		                  </div>
		                </div>
		                <div class="form-group">
		                  <div class="col-xs-12 col-sm-6 col-md-4">
		                    <span>Validity Time:</span>
		                    <input type="text" class="mini-input" value="3600">
		                    <span>Seconds</span>
		                  </div>
		                  <div class="col-xs-12 col-sm-6">
		                    <button class="btn btn-danger" ng-click="vm.regenerate()">Re-generate</button>
		                  </div>
		                </div>
		              </form>
		            </div>
		          </div>
		        </div>
				<div class="panel panel-default">
		          <div class="panel-heading">
		            <strong class="panel-title">Enabled Product Services</strong>
		          </div>
		          <div class="panel-body">
		            <img class="screen-shot" src="../../assets/images/screen-shots/subs.png">
		          </div>
		        </div>
			</div>	
		</div>
	</div>
  </div>
</div>